<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
<title>Robo@work</title>
<link rel="stylesheet" type="text/css" href="css/all-stylesheets.css">
</head>

<body onload="init();">
<!--div id="top-content" class="ember-view even-more"-->
 <!--div align="center" class="embed-responsive embed-responsive-16by9">
    <!--video id="video-container" loop autoplay class="embed-responsive-item">>
        <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4">
    </video>
    <div id="custom-message" class="header-content center">
        <div class="header-text-2">CLOUD BASED</div>
        <div class="header-text-3">ROBO ADVISORY PLATFORM</div>
        <a href="#"><div class="signup-button">Coming Soon</div></a>
    </div>
</div-->
 
  <div id="top-content" class="container-fluid">
  <!--div class="color-overlay accent-color-bg"> </div>
  <div class="container"-->
  <!--header id="home" class="header-wrap">
				<div class="slide-object-panel">
					<div class="slide-object-container">
						<div class="slide-object money-bank hidden"></div>
						<div class="slide-object idea"></div>
						<div class="slide-object bag hidden"></div>
						<div class="slide-object phone hidden"></div>
						<div class="slide-object emp-id hidden"></div>
						<div class="slide-object line-chart"></div>
						<div class="slide-object book"></div>
						<div class="slide-object time-money"></div>
						<div class="slide-object metro-city hidden"></div>
						<div class="slide-object grow-chart"></div>
					</div>
				</div>

				<div id="Raw-graph" style=" margin: -30px auto;"></div-->
    <div class="row header-content flex-container">
      <div class="col-xs-12 text-center">
        <div class="header-text-1"> 
          <!--div class="word">Affordable</div-->
        </div>
        <div class="header-text-2">CLOUD BASED</div>
		<div class="header-text-3">ROBO ADVISORY PLATFORM</div>
        <a href="#"><div class="signup-button">Coming Soon</div></a>
      </div>
    </div>
   
	<!--/header-->
	
  
  <nav id="mainNav" class="navbar navbar-fixed-top" role='navigation'>
			<div class="container-fluid">
				<div id="menuToggle">
				<!--
				A fake / hidden checkbox is used as click reciever,
				so you can use the :checked selector on it.
				-->
				<input type="checkbox" />
				<!--
				Some spans to act as a hamburger.
				They are acting like a real hamburger,
				not that McDonalds stuff.
				-->
				<span></span>
				<span></span>
				<span></span>
				<!--
				Too bad the menu has to be inside of the button
				but hey, it's pure CSS magic.
				-->
				<ul id="menu">
					<a href="#home"><li>Home</li></a>
					<a href="#about"><li>About Us</li></a>
					<a href="#solutions"><li>Solutions</li></a>
					<a href="#team"><li>Our Team</li></a>
					<a href="#contact"><li>Contact Us</li></a>
				</ul>
				</div>
				
			</div>
        <!-- /.container-fluid -->
    </nav>
</div>
<!-------------------- About Us section ----------------->
<div class="container-fluid about_section">
<section id="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
               <div class="container-fluid"><h2 class="section-heading text-center">About Us</h2>

               </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 about">
                        <!--div class="text-center roboface">
                            <span id="eye"><i class="fa fa-circle"></i> <i class="fa fa-circle"></i></span>
                        <div class="lid">o</div></div-->                    

                        <p class="about_us">We are a Robo Advisory platform which combines big data analytics, artificial intelligence and machine learning with deep insights into investment services to offer disruptive and innovative end-to-end solutions for B2B and B2C segments.</p>
                        <p class="about_us">We offer bespoke digital investment advice across multiple asset classes through our extensive library of proprietary algorithms that create automated, hybrid and customisable investment solutions cutting across all segments at a fraction of the current operating costs.</p>
                        <p class="about_us">We enable our partners to focus on building long term trust and deepening client relationships, while leaving the task of providing intelligent, unbiased and data driven investment solutions to us. </p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 about">
                        <div class="about_us_image">
                            <img src="images/about_us.jpg" class="img img-responsive about_img" alt="" align="center">
                        </div>
                    </div>

            </div>
        </div>
    </div>
</section> <!--about us section ends-->
</div>
<!-------------------- End About Us section ----------------->

<!-------------------- Solutions section ----------------->
 <section id="solutions" class="ember-view even-more">
    <div class="container-fluid">
        <header class="header-wrap section-header"><h2 class="section-heading">Solutions</h2> </header>
          <!--div class="slide-object-panel">
            <div class="slide-object-container">
                <div class="slide-object money-bank hidden"></div>
                <div class="slide-object idea"></div>
                <div class="slide-object bag hidden"></div>
                <div class="slide-object phone hidden"></div>
                <div class="slide-object emp-id hidden"></div>
                <div class="slide-object line-chart"></div>
                <div class="slide-object book"></div>
                <div class="slide-object time-money"></div>
                <div class="slide-object metro-city hidden"></div>
                <div class="slide-object grow-chart"></div>
             </div>
            </div>
            <div id="Raw-graph"></div-->

       <div class="container">
          <div class="row upper-div">
            <div class="col-md-4">
       <!-- flip-to-top or flip-to-bottom -->
                 <div class="cube flip-to-top">
                  <div class="default-state">
                        <span>
                          <i class="fa fa-4x fa-exclamation-triangle bounceIn module-icon-color" style="visibility: visible;animation-delay: 0.1s; animation-name: bounceIn;"></i>
                        </span>
                        <h5>Risk Profiler</h5>
                  </div>
                  <div class="active-state">
                      <p>Risk Profiler is a 4-Dimension module that provides a proprietary Risk Score which acts as a critical input for investment planning.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="cube flip-to-top">
                  <div class="default-state">
                    <span>
                        <i class="fa fa-4x fa-briefcase bounceIn module-icon-color" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i>
                    </span>
                      <h5>Asset Allocation</h5>
                  </div>
                  <div class="active-state">
                      <p>Our Asset Allocation algorithms have been built on the foundation of a diverse set of Noble Prize-Winning research which are then further optimised internally.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="cube flip-to-top">
                  <div class="default-state">
                      <span>
                         <i class="fa fa-4x fa-address-book bounceIn module-icon-color" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i>
                      </span>
                        <h5>Portfolio Creator</h5>                       
                  </div>
                  <div class="active-state">
                      <p class="description">Scans, filters and selects the underlying securities from a wide universe of investment instruments based on the client's preferences.</p>
                </div>
                </div>
              </div>
            </div>
            <div class="row upper-div">
              <div class="col-md-4">
                <div class="cube flip-to-top">
                  <div class="default-state">
                        <span>
                          <i class="fa fa-4x fa-line-chart bounceIn module-icon-color" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i>
                        </span>
                        <h5>Portfolio Rebalancer</h5>
                  </div>
                  <div class="active-state">
                     <p>Dynamically rebalance the clients’ portfolio periodically to avoid getting swayed from their original asset allocation. </p>
                </div>
                </div>
              </div>
                <div class="col-md-4">
               <!-- flip-to-top or flip-to-bottom -->
                       <div class="cube flip-to-top">
                          <div class="default-state">
                            <span>
                                  <i class="fa fa-4x fa-inr bounceIn module-icon-color" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i>
                            </span>
                            <h5>Portfolio Tax-Loss Harvester</h5>
                          </div>
                          <div class="active-state">
                               <p>Opportunities that allow client to minimise tax outflows and improve returns.</p>
                        </div>
                        </div>   
                  </div>
                  <div class="col-md-4">
                       <div class="cube flip-to-top">
                          <div class="default-state">
                            <span>
                                  <i class="fa fa-4x fa-id-card-o bounceIn module-icon-color" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i>
                            </span>
                            <h5>Client Onboarding</h5>
                          </div>
                          <div class="active-state">
                                 <p>Standalone paperless solution allowing B2B clients to effectively onboard their clients efficiently.</p>
                          </div>
                        </div>
                  </div>
                </div>
                <div class="row upper-div">
                    <div class="col-md-4">
                        <div class="cube flip-to-top">
                          <div class="default-state">
                             <span>
                                  <i class="fa fa-4x fa-suitcase bounceIn module-icon-color" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i>
                             </span>
                            <h5>Investment Toolbox</h5>

                          </div>
                          <div class="active-state">
                               <p>Combination of any or multiple of the above modules based on specific client requirements.</p>
                        </div>
                        </div>
                      </div>
                     <div class="col-md-4">
                        <div class="cube flip-to-top">
                          <div class="default-state">
                            <span>
                                <i class="fa fa-4x fa-globe bounceIn module-icon-color" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i>
                            </span>
                                <h5>Integrated White Label Solution</h5>
                          </div>
                          <div class="active-state">
                              <p>An end-to-end solution that will encapsulate all the modules for a next generation user experience.</p>
                        </div>
                          </div>
                    </div>
                    <div class="col-md-4">
                        <div class="cube flip-to-top">
                          <div class="default-state">
                            <span>
                                <i class="fa fa-4x fa-cog bounceIn module-icon-color" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i>
                            </span>
                                <h5>Customised-Automated Digital Platform</h5>
                          </div>
                          <div class="active-state">
                              <p>A customised platform for any combination of the above modules through our library of APIs.</p>
                        </div>
                          </div>
                    </div>
             </div>
    </div>
 </div>
</section>
<!-------------------- End Solutions section ----------------->

<!-------------------- Team section ----------------->
<section id="team">
    <div class="container-fluid">
    <header class="header-wrap section-header"><h2 class="section-heading">Team</h2> </header>
        <div class="team_description text-center">
            <p>The Finaureus team has a unique blend of entrepreneurs with outstanding track record and deep domain expertise across Finance & Investments, Big Data Analytics and Technology.
            </p>
        </div>
        <div class="container">
            <div class="first_row">
               <div class="team_name text-center section-heading"><h3>Advisory Board</h3>
               <hr class="short">
               </div>
                <div class="row">
                   <div class="col-lg-3 col-md-3 col-sm-3">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="our-team">
                            <div class="pic">
                                <img src="images/Shankar_Iyer.png" alt="">
                                <div class="over-layer">
                                    <p class="description">
                                        A consummate entrepreneurial leader based out of US with over two decades of international experience in advanced technology, fund administration & hedge funds across diverse global markets.

                                    </p>
                                </div>
                            </div>
                            <h3 class="team-prof">
                                <a href="#" class="uppercase">Shankar Iyer</a>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-3">
                        <div class="our-team">
                            <div class="pic">
                                <img src="images/jitendra-gupta.jpg" alt="">
                                <div class="over-layer">
                                    <p class="description">
                                       Jitendra founded Citrus Payment Solutions, a leading digital payments company in India in 2011. Post-acquisition of Citrus Pay by Naspers, he leads the consumer businesses at the combined entity, PayU India, as their Managing Director for consumer payments business in India. 
                                    </p>
                                </div>
                            </div>
                            <h3 class="team-prof">
                                <a href="#" class="uppercase">Jitendra Gupta</a>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3"></div> 
                </div>
            </div>
           
            <div class="first_row">
               <div class="team_name text-center section-heading"><h3>Our Team</h3><hr class="short"></div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="our-team">
                            <div class="pic">
                                <img src="images/u-r-bhat.jpg" alt="">
                                <div class="over-layer">
                                    <p class="description">
                                        U.R. Bhat is one of India's highly acclaimed investment manager having managed foreign institutional investments in Indian equities for more than two decades. He was the Chief Investment Officer of Jardine Fleming in India, which subsequently became a part of JP Morgan, advising the India dedicated funds of the Flemings group.

                                    </p>
                                </div>
                            </div>
                            <h3 class="team-prof">
                                <a href="#" class="uppercase">U.R.BHAT</a>
                                <small class="capitalized">Director & Chief Investment Strategist </small>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="our-team">
                            <div class="pic">
                                <img src="images/arindam-ghosh.png" alt="">
                                <div class="over-layer">
                                    <p class="description">
                                       Arindam has over two decades of leadership experience in India and Asia-Pacific region across Asset Management, Alternate Funds, NBFCs, Investment Advisory & Wealth Management with a clear preference for greenfields & start-ups. Previously, Arindam was associated with Mirae Asset Global Investments as its India CEO. He was also associated in leadership roles, inter-alia with Fidelity (Asia Pacific), Tata Mutual Fund and the A V Birla Group.

                                    </p>
                                </div>
                            </div>
                            <h3 class="team-prof">
                                <a href="#" class="uppercase">Arindam Ghosh</a>
                                <small class="capitalized">Director & CEO</small>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="our-team">
                            <div class="pic">
                                <img src="images/unmesh_Bhathija.JPG" alt="">
                                <div class="over-layer">
                                    <p class="description">
                                       Unmesh has more than 28 years of experience in building and growing organisations in the technology space. He founded Websym Solutions, which provides IT Product Engineering Services to its Global Clients spread across US and Europe. Previously, Unmesh was also associated with Mindcraft, IBM, and TCS.
                                    </p>
                                </div>
                            </div>
                            <h3 class="team-prof">
                                <a href="#" class="uppercase">Unmesh Bhathija</a>
                                <small class="capitalized">Director and COO</small>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="our-team">
                            <div class="pic">
                                <img src="images/Sunu_Engineer.jpg" alt="">
                                <div class="over-layer">
                                    <p class="description">
                                       Sunu has over 19 years of experience in building complex products across diverse fields including Business Analytics, Energy solutions, Fraud detection, distributed computing, Algorithms, large scale complex enterprise systems and distributed data management and visualization. Sunu is a Ph.D. in Physics, specializing in Cosmology and Astrophysics.
                                    </p>
                                </div>
                            </div>
                            <h3 class="team-prof">
                                <a href="#" class="uppercase">Sunu Engineer</a>
                                <small class="capitalized">CTO and Chief Data Scientist</small>
                            </h3>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="first_row">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="our-team">
                            <div class="pic">
                                <img src="images/Indraneel_Dabhade.jpg" alt="">
                                <div class="over-layer">
                                    <p class="description">
                                        Indraneel has more than 6 years of experience in IT including in the field of AI, machine learning and data science technology. He is a postgraduate in Industrial Engineering with master’s thesis in Applied Maths from Clemson University, USA and currently pursuing an Advanced Computer Security course from Stanford.

                                    </p>
                                </div>
                            </div>
                            <h3 class="team-prof">
                                <a href="#" class="uppercase">Indraneel Dabhade</a>
                                <small class="capitalized">Sr. Manager Engineering</small>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="our-team">
                            <div class="pic">
                                <img src="images/Tanya_Bhogal.jpg" alt="">
                                <div class="over-layer">
                                    <p class="description">
                                       Tanya is responsible for covering overall Product Management from build to release. Prior to Finaureus she has worked with Icertis Solutions from 2009 to 2012. Tanya has an MBA in Finance & Marketing from Symbiosis International University and is an NiSM certificate holder.
                                    </p>
                                </div>
                            </div>
                            <h3 class="team-prof">
                                <a href="#" class="uppercase">Tanya Bhogal</a>
                                <small class="capitalized">AVP Product Development</small>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="our-team">
                            <div class="pic">
                                <img src="images/Ira_Basu.jpg" alt="">
                                <div class="over-layer">
                                    <p class="description">
                                       Ira started her career working for French insurance conglomerate, AXA, in the institutional Asset Management division of Alliance Bernstein. Ira has an MSc degree in Finance and Investment majoring in Mergers and Acquisitions and Portfolio Management from University of Durham in United Kingdom.
                                    </p>
                                </div>
                            </div>
                            <h3 class="team-prof">
                                <a href="#" class="uppercase">Ira Basu</a>
                                <small class="capitalized">Sr. Manager Product Development</small>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="our-team">
                            <div class="pic">
                                <img src="images/Swati_Raghav.jpg" alt="">
                                <div class="over-layer">
                                    <p class="description">
                                       Swati has a bachelor’s degree in Computer Science from Rajiv Gandhi Technical University. 
                                    </p>
                                </div>
                            </div>
                            <h3 class="team-prof">
                                <a href="#" class="uppercase">Swati Raghav</a>
                                <small class="capitalized">Sr. Manager Engineering</small>
                            </h3>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>   
    </div>
</section>
<!-------------------- End Team section ----------------->

<!-------------------- Contact section ----------------->
<section id="contact" class="parallax-8">
    <div class="container top-bottom-cut-grey">
        <!-- Contact Contents Starts -->
        <div class="contents">
            <div class="row">
                <!-- Address Starts -->
                <div class="address">
                <div class="row header text-center">
                    <div class="col-md-10 col-md-offset-1">
                        <!-- Big Icon Starts -->
                        <div class="icon hi-icon-color hi-icon-effect animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="100">
                            <span class="hi-icon"><i class="fa fa-envelope"></i></span>					
                        </div>
                        <!-- Big Icon Starts -->
                        <h2 class="animated fadeInUp visible section-heading" data-animation="fadeInUp" data-animation-delay="200">Contact Us</h2>

                    </div>
                </div>   

                <div class="row text-center">
                    <div class="col-md-10 col-md-offset-1 address-details">
                        <div class="animated fadeInRight visible" data-animation="fadeInRight" data-animation-delay="400"><span><i class="fa fa-location-arrow"></i> Postal Address</span><br>
                            Finaureus Technologies Pvt. Ltd.<br>
                            Plot no. 34/2, Rajiv Gandhi Infotech Park – Phase 1,<br>
                            Hinjewadi, Pune 411 057<br>
                            India.<br>
                        </div>

                        <!--div class="row ">
                            <div class="tel animated fadeInRight visible contact_row" data-animation="fadeInRight" data-animation-delay="600">
                                <span><i class="fa fa-phone"></i> Telephone </span> +91 (20) 661 43 400
                            </div>
                        </div>
                        <div class="row ">
                            <div class="tel animated fadeInRight visible contact_row" data-animation="fadeInRight" data-animation-delay="600">
                                <span><i class="fa fa-fax"></i>&nbsp;Fax</span>+91 (20) 661 43 500
                            </div>
                        </div-->
                        <div class="row">
                            <div class="animated fadeInRight visible" data-animation="fadeInRight" data-animation-delay="600">
                                <span><i class="fa fa-envelope"></i> Email : </span><a href="mailto:info@finaureus.com" target="_blank">  info@finaureus.com</a>
                            </div>
                        </div>    
                    
                </div>
               <!-- Form Starts -->
                <!--div class="col-md-5 col-md-offset-1">
                    <div class="form animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="1000">
                        <div class="heading">Drop us a line.</div>
                        <form action="mailer.php" method="post" name="ContactForm" id="ContactForm">
                            <div id="message_post"></div>
                            <div class="input-group"> <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input type="text" name="name" class="form-control" placeholder="Name *">
                            </div>
                            <div class="input-group"> <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                                <input type="text" name="email" class="form-control" placeholder="Email *">
                            </div>
                            <div class="input-group"> <span class="input-group-addon"><i class="fa fa-comment-o"></i></span>
                                <textarea name="message" class="form-control" placeholder="Message *"></textarea>
                            </div>
                            <div class="input-group form-buttons"> <span class="input-group-btn">
                                <button class="btn btn-default" type="submit" value="Submit" name="submitf" id="submitf" style="width:100%;height:30px;"><i class="fa fa-envelope"></i> SEND</button>
                                </span> 
                            </div>
                        </form>
                    </div>
                </div-->
                <!-- Form Ends -->
                </div>
                
            </div>
            <!-- Address Ends -->
            </div>
            <!-- Contact row Ends -->
        </div>
        <!-- Contact Contents Ends -->
    </div>
</section>
<!-------------------- Contact section End here ----------------->

<!-------------------- Footer section ----------------->
<footer class="footer">
    <div class="container">
        <div class="disclosures text-center">
            <div class="footer-links"></div>
            <!--div class="social-follow-link">
               <span class="follow_social">Follow us on social media</span> 
            </div>
            <div class="footer-social">
                <a href="" class="fm_button fm_facebook"><i class="fa fa-facebook"></i></a>
                <a href="" class="fm_button fm_twitter"><i class="fa fa-twitter"></i></a>
                <a href="" class="fm_button fm_linkedin"><i class="fa fa-linkedin"></i></a>
                <a href="" class="fm_button fm_google_plus"><i class="fa fa-google-plus"></i></a>
            </div-->
            <div class="well-sm">
                <!--a href="#">Terms of Use </a>|--><a href="#" data-toggle="modal" data-target="#modalRegister">Privacy Policy</a>
            </div>
            <div class="well-sm">
                 ©2017 Finaureus Technologies Pvt. Ltd. All rights reserved. 
            </div>
            
        </div>
    </div>
</footer>

<div id="modalRegister" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align-last: center">Register</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-------------------- Footer section Ends here----------------->

<!-------------------- Adding Javascript files in the page ----------------->
<!--Script for menu for adding and removing class to set menu fixed at one position-->
    <script>
        /*$(window).bind('scroll', function () {
            if ($(window).scrollTop() > 50) {
                $('.menu').addClass('fixed');
            } else {
                $('.menu').removeClass('fixed');
            }
        });*/
    </script>
    <!--Script Ends here -->

    <script src="js/jquery.min.js"></script> 
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/modernizr-custom.js"></script>
    <script src="js/slick.min.js"></script> 
    <script src="js/createjs.min.js"></script> 
    <script src="js/logo.js"></script>
    <script src="js/jquery.appear.js"></script>
    <script src="js/contact-form.js"></script>
    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>
    <script src="js/graph.js"></script>
    <!-- Include lazylinepainter -->
    <script src="js/jquery.lazylinepainter-1.5.1.js"></script>
    <script type="text/javascript">
     /* 
     Setup and Paint your lazyline! 
     */ 

         $(document).ready(function(){ 
         $('#Raw-graph').lazylinepainter( 
         {
            "svgData": pathObj,
            "strokeWidth": 1.5,
            "strokeColor": "#c5c5c5"
         }).lazylinepainter('paint'); 
         });
    </script>
<script src="js/main.js"></script>
</body>
</html>
