<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
<title>Robo@work</title>
<link rel="stylesheet" type="text/css" href="css/all-stylesheets.css">
</head>

<body onload="init();">
<div id="top-content" class="ember-view even-more">
 <div align="center" class="embed-responsive embed-responsive-16by9">
    <video id="video-container" autoplay loop class="embed-responsive-item">
        <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4">
    </video>
    <div id="custom-message" class="header-content center">
        <div class="header-text-2">CLOUD BASED</div>
        <div class="header-text-3">ROBO ADVISORY PLATFORM</div>
        <a href="#"><div class="signup-button">Coming Soon</div></a>
    </div>
</div>
  <!--div class="color-overlay accent-color-bg"></div-->
  <!--div class="container"-->
  <!--header id="home" class="header-wrap">
				<div class="slide-object-panel">
					<div class="slide-object-container">
						<div class="slide-object money-bank hidden"></div>
						<div class="slide-object idea"></div>
						<div class="slide-object bag hidden"></div>
						<div class="slide-object phone hidden"></div>
						<div class="slide-object emp-id hidden"></div>
						<div class="slide-object line-chart"></div>
						<div class="slide-object book"></div>
						<div class="slide-object time-money"></div>
						<div class="slide-object metro-city hidden"></div>
						<div class="slide-object grow-chart"></div>
					</div>
				</div>

				<div id="Raw-graph" style=" margin: -30px auto;"></div-->
    <!--div class="row header-content">
      <div class="col-xs-12 text-center">
        <div class="header-text-1"> 
          <!--div class="word">Affordable</div-->
        <!--/div>
        <div class="header-text-2">CLOUD BASED</div>
		<div class="header-text-3">ROBO ADVISORY PLATFORM</div>
        <a href="#"><div class="signup-button">Coming Soon</div></a>
      </div>
    </div-->
	<!--/header-->
	
  
  <nav id="mainNav" class="navbar navbar-fixed-top" role='navigation'>
			<div class="container-fluid">
				<div id="menuToggle">
				<!--
				A fake / hidden checkbox is used as click reciever,
				so you can use the :checked selector on it.
				-->
				<input type="checkbox" />
				<!--
				Some spans to act as a hamburger.
				They are acting like a real hamburger,
				not that McDonalds stuff.
				-->
				<span></span>
				<span></span>
				<span></span>
				<!--
				Too bad the menu has to be inside of the button
				but hey, it's pure CSS magic.
				-->
				<ul id="menu">
					<a href="#top-content"><li>Home</li></a>
					<a href="#about"><li>About Us</li></a>
					<a href="#solutions"><li>Solutions</li></a>
					<a href="#team"><li>Our Team</li></a>
					<a href="#contact"><li>Contact Us</li></a>
				</ul>
				</div>
				
			</div>
        <!-- /.container-fluid -->
    </nav>
</div>
<!-------------------- About Us section ----------------->
<div class="container-fluid about_section">
<section id="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
               <div class="container-fluid"><h2 class="section-heading text-center">About Us</h2>

               </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 about">
                        <div class="text-center roboface">
                            <span id="eye"><i class="fa fa-circle"></i> <i class="fa fa-circle"></i></span>
                        <div class="lid">o</div></div>                    

                        <p class="about_us">Finaureus technologies Private Limited has been formed with the objective of building a Robo - Investment advisory platform which combines big data analytics, artificial intelligence and machine learning with deep insights into Investment services to offer disruptive and innovative end-to-end solutions for B2B and B2C segments. The Investment advisory platform offers robo-advisory through automated and low-cost investment and financial advisory services through web and mobile platforms.</p>
                        <p class="about_us">We enable our Clients democratize investment advice by creating bespoke digital propositions that provides personalised & timely insights, smart financial planning, automated & personalised investment management solutions at a fraction of the current operational cost.</p>
                        <p class="about_us">Our solutions facilitate our partners achieve a high level of efficiency in building long term trust and deepening client engagement, while leaving the core task of providing intelligent and data driven investment solutions to us. </p>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 about">
                        <div class="about_us_image">
                            <img src="images/financial-analysis.jpg" class="img img-responsive about_img" alt="" align="center">
                        </div>
                    </div>

            </div>
        </div>
    </div>
</section> <!--about us section ends-->
</div>
<!-------------------- End About Us section ----------------->

<!-------------------- Solutions section ----------------->
 <section id="solutions" class="ember-view even-more">
    <div class="container-fluid">
        <header class="header-wrap section-header"><h2 class="section-heading">Solutions</h2> </header>
          <!--div class="slide-object-panel">
            <div class="slide-object-container">
                <div class="slide-object money-bank hidden"></div>
                <div class="slide-object idea"></div>
                <div class="slide-object bag hidden"></div>
                <div class="slide-object phone hidden"></div>
                <div class="slide-object emp-id hidden"></div>
                <div class="slide-object line-chart"></div>
                <div class="slide-object book"></div>
                <div class="slide-object time-money"></div>
                <div class="slide-object metro-city hidden"></div>
                <div class="slide-object grow-chart"></div>
             </div>
            </div>
            <div id="Raw-graph"></div-->

       <div class="container">
          <div class="row upper-div">
            <div class="col-md-3">
       <!-- flip-to-top or flip-to-bottom -->
                 <div class="cube flip-to-top">
                  <div class="default-state">
                        <span>
                          <i class="fa fa-4x fa-exclamation-triangle bounceIn module-icon-color" style="visibility: visible;animation-delay: 0.1s; animation-name: bounceIn;"></i>
                        </span>
                        <h4>Risk Profiler</h4>
                  </div>
                  <div class="active-state">
                      <p>Risk Profiler module that provides immediate assessment of a clients’ Risk tolerance.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="cube flip-to-top">
                  <div class="default-state">
                    <span>
                        <i class="fa fa-4x fa-briefcase bounceIn module-icon-color" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i>
                    </span>
                      <h4>Asset Allocation</h4>
                  </div>
                  <div class="active-state">
                      <p>Module that allows the clients to set customisable Goal based investing preferences.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="cube flip-to-top">
                  <div class="default-state">
                      <span>
                         <i class="fa fa-4x fa-address-book bounceIn module-icon-color" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i>
                      </span>
                        <h4>Portfolio Creator</h4>                       
                  </div>
                  <div class="active-state">
                      <p class="description">Standalone Portfolio creation Module that provides the B2B clients with various proprietary investing instruments.</p>
                </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="cube flip-to-top">
                  <div class="default-state">
                        <span>
                          <i class="fa fa-4x fa-line-chart bounceIn module-icon-color" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i>
                        </span>
                        <h4>Portfolio Rebalancer</h4>
                  </div>
                  <div class="active-state">
                     <p>Portfolio rebalancing module which includes the ability to rebalance the client’s portfolio.</p>
                </div>
                </div>
              </div>
              </div>

            <div class="row upper-div">
                <div class="col-md-3">
           <!-- flip-to-top or flip-to-bottom -->
                       <div class="cube flip-to-top">
                          <div class="default-state">
                            <span>
                                  <i class="fa fa-4x fa-inr bounceIn module-icon-color" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i>
                            </span>
                            <h4>Portfolio Tax Loss Harvester</h4>
                          </div>
                          <div class="active-state">
                               <p>It is a standalone module that allows clients of our B2B partners to minimize their tax outflows.</p>
                        </div>
                        </div>   
                  </div>
                  <div class="col-md-3">
                       <div class="cube flip-to-top">
                          <div class="default-state">
                            <span>
                                  <i class="fa fa-4x fa-id-card-o bounceIn module-icon-color" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i>
                            </span>
                            <h4>Client Onboarding</h4>
                          </div>
                          <div class="active-state">
                                 <p>It is a paperless solution allowing our B2B clients to effectively onboard their clients efficiently.</p>
                          </div>
                        </div>

                  </div>
                    <div class="col-md-3">
                        <div class="cube flip-to-top">
                          <div class="default-state">
                             <span>
                                  <i class="fa fa-4x fa-handshake-o bounceIn module-icon-color" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i>
                             </span>
                            <h4>Client Engagement</h4>

                          </div>
                          <div class="active-state">
                               <p >It provides B2B clients with access to consolidated Analytics.</p>
                        </div>
                        </div>
                  </div>
                     <div class="col-md-3">
                        <div class="cube flip-to-top">
                          <div class="default-state">
                            <span>
                                <i class="fa fa-4x fa-globe bounceIn module-icon-color" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i>
                            </span>
                                <h4>All-in-One White Label Solution</h4>
                          </div>
                          <div class="active-state">
                              <p>It will encapsulate all the modules along with execution capabilities.</p>
                        </div>
                  </div>
                </div>
             </div>
    </div>
 </div>
</section>
<!-------------------- End Solutions section ----------------->

<!-------------------- Team section ----------------->
<section id="team">
    <div class="container-fluid">
    <header class="header-wrap section-header"><h2 class="section-heading">Our Team</h2> </header>
        <div class="container">
            <div class="row row-size">
                <div class="col-md-4 col-sm-6">
                    <div class="our-team">	
                        <img src="images/u-r-bhat.jpg" alt="">
                        <div class="team-content">
                            <h3 class="title">U.R. Bhat</h3>
                            <span class="post">Director & Chief Investment Strategist</span>
                            <p class="description">U.R.Bhat is one of India's well known investment managers having managed foreign institutional investments in Indian equities for more than two decades.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <img src="images/arindam-ghosh.jpg" alt="">
                        <div class="team-content">
                            <h3 class="title">Arindam Ghosh</h3>
                            <span class="post">Director & CEO</span>
                            <p class="description">Arindam has over 2 decades of leadership experience in financial services in India and Asia-Pacific region across Asset Management, Alternate Funds, NBFCs, Investment Advisory & Wealth Management.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <img src="images/unmesh-bhatija.jpg" alt="">
                        <div class="team-content">
                            <h3 class="title">Unmesh Bhatija</h3>
                            <span class="post">Director & COO</span>
                            <p class="description">Unmesh has more than 28 years of experience in building and growing organisations in the technology space.</p>
                        </div>
                    </div>
                </div>
            </div>

             <div class="row second row-size">
                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <img src="images/sunnu-engineer.jpg" alt="">
                        <div class="team-content">
                            <h3 class="title">Dr. Sunnu Engineer</h3>
                            <span class="post">Chief Data Scientist</span>
                            <p class="description">Sunu is responsible for Product Engineering and data architecture. He has over 19 years of experience in building products for Business Analytics, Energy solutions and Fraud detection.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <img src="images/jitendra-gupta.jpg" alt="">
                        <div class="team-content">
                            <h3 class="title">Jitendra Gupta</h3>
                            <span class="post">Chairman Advisory Board</span>
                            <p class="description">Jitendra founded Citrus Payment Solutions Private Limited in 2011 and serves as its Chief Executive Officer and Managing Director.</p>
                            <!--ul class="social">
                                <li><a class="fa fa-facebook" href="#"></a></li>
                                <li><a class="fa fa-twitter" href="#"></a></li>
                                <li><a class="fa fa-google-plus" href="#"></a></li>
                                <li><a class="fa fa-youtube" href="#"></a></li>
                            </ul-->
                        </div>
                    </div>
                </div>
            </div>
        </div>	
    </div>
</section>
<!-------------------- End Team section ----------------->

<!-------------------- Contact section ----------------->
<section id="contact" class="parallax-8">
    <div class="container top-bottom-cut-grey">
        <div class="row contents">
             <div class="col-md-10 col-md-offset-1 social-icons">
              <div><h2 class="animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="200">Follow Us On</h2></div>
                    <!-- Icon 1 Starts -->
                    <div class="col-xs-6 col-sm-4 col-md-2 col-lg-3 social animated fadeInRight visible" data-animation="flipInY" data-animation-delay="400">
                        <div class="icon facebook"><i class="fa fa-facebook"></i></div>
                    </div>
                    <!-- Icon 2 Starts -->
                    <div class="col-xs-6 col-sm-4 col-md-2 col-lg-3 social animated fadeInRight visible" data-animation="flipInX" data-animation-delay="500">
                        <div class="icon twitter"><i class="fa fa-twitter"></i></div>
                    </div>
                    <!-- Icon 3 Starts -->
                    <div class="col-xs-6 col-sm-4 col-md-2 col-lg-3 social animated fadeInRight visible" data-animation="flipInY" data-animation-delay="600">
                        <div class="icon linkedin"><i class="fa fa-linkedin"></i></div>
                    </div>
                    <!-- Icon 4 Starts -->
                    <div class="col-xs-6 col-sm-4 col-md-2 col-lg-3 social animated fadeInRight visible" data-animation="flipInX" data-animation-delay="700">
                        <div class="icon google-plus"><i class="fa fa-google-plus"></i></div>
                    </div>


                </div>
            </div>

        <!-- Contact Contents Starts -->
        <div class="contents">
            <div class="row">
                <!-- Address Starts -->
                <div class="address">
                <div class="row header">
                    <div class="col-md-10 col-md-offset-1">
                        <!-- Big Icon Starts -->
                        <div class="icon hi-icon-color hi-icon-effect animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="100">
                            <span class="hi-icon"><i class="fa fa-envelope"></i></span>					
                        </div>
                        <!-- Big Icon Starts -->
                        <h2 class="animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="200">Contact Us</h2>

                    </div>
                </div>   

                <div class="row">
                    <!-- Form Starts -->
                    <div class="col-md-10 col-md-offset-1">
                        <div class="form animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="1000">
                            <div class="heading">Drop us a line.</div>
                            <form action="mailer.php" method="post" name="ContactForm" id="ContactForm">
                                <div id="message_post"></div>
                                <div class="input-group"> <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input type="text" name="name" class="form-control" placeholder="Name *">
                                </div>
                                <div class="input-group"> <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                                    <input type="text" name="email" class="form-control" placeholder="Email *">
                                </div>
                                <div class="input-group"> <span class="input-group-addon"><i class="fa fa-comment-o"></i></span>
                                    <textarea name="message" class="form-control" placeholder="Message *"></textarea>
                                </div>
                                <div class="input-group form-buttons"> <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit" value="Submit" name="submitf" id="submitf" style="width:100%;height:40px;"><i class="fa fa-envelope"></i> SEND</button>
                                    </span> 
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Form Ends -->
                </div>
                <div class="col-md-10 address-details">
                    <div class="animated fadeInRight visible" data-animation="fadeInRight" data-animation-delay="400"><span><i class="fa fa-location-arrow"></i> Postal Address</span><br>
                        Finaureus Technologies Pvt. Ltd.<br>
                        Plot no. 34/2, Rajiv Gandhi Infotech Park – Phase 1,<br>
                        Hinjewadi, Pune 411 057<br>
                        India.<br>
                    </div>

                    <div class="row ">
                        <div class="tel animated fadeInRight visible contact_row" data-animation="fadeInRight" data-animation-delay="600">
                            <span><i class="fa fa-phone"></i> Telephone </span> +91 (20) 661 43 400
                        </div>
                        <div class="tel animated fadeInRight visible contact_row" data-animation="fadeInRight" data-animation-delay="600">
                            <span><i class="fa fa-fax"></i>&nbsp;Fax</span>+91 (20) 661 43 500
                        </div>
                        <div class="tel animated fadeInRight visible contact_row" data-animation="fadeInRight" data-animation-delay="600">
                            <span><i class="fa fa-envelope"></i> Email  </span><a href="mailto:info@finaureus.com" target="_blank">  info@finaureus.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Address Ends -->
            </div>
            <!-- Contact row Ends -->
        </div>
        <!-- Contact Contents Ends -->
    </div>
</section>
<!-------------------- Contact section End here ----------------->

<!-------------------- Footer section ----------------->
<footer class="footer">
<div class="container">
	<div class="well-sm pull-left">
		 ©2017 Finaureus Technologies Pvt. Ltd.
	</div>
	<div class="well-sm pull-right">
		<a href="#">Privacy Policy</a>
	</div>
</div>
</footer>
<!-------------------- Footer section Ends here----------------->

<!-------------------- Adding Javascript files in the page ----------------->
<!--Script for menu for adding and removing class to set menu fixed at one position-->
    <script>
        /*$(window).bind('scroll', function () {
            if ($(window).scrollTop() > 50) {
                $('.menu').addClass('fixed');
            } else {
                $('.menu').removeClass('fixed');
            }
        });*/
    </script>
    <!--Script Ends here -->

    <script src="js/jquery.min.js"></script> 
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/modernizr-custom.js"></script>
    <script src="js/slick.min.js"></script> 
    <script src="js/createjs.min.js"></script> 
    <script src="js/logo.js"></script>
    <script src="js/jquery.appear.js"></script>
    <script src="js/contact-form.js"></script>
    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>
    <script src="js/graph.js"></script>
    <!-- Include lazylinepainter -->
    <script src="js/jquery.lazylinepainter-1.5.1.js"></script>
    <script type="text/javascript">
     /* 
     Setup and Paint your lazyline! 
     */ 

         $(document).ready(function(){ 
         $('#Raw-graph').lazylinepainter( 
         {
            "svgData": pathObj,
            "strokeWidth": 1.5,
            "strokeColor": "#c5c5c5"
         }).lazylinepainter('paint'); 
         });
    </script>
<script src="js/main.js"></script>
</body>
</html>
